MAIL_USERNAME=eduardoborges.developer@gmail.com
MAIL_PASSWORD=sua_app_password_do_gmail
CONTACT_TO_EMAIL=eduardoborges.developer@gmail.com
CORS_ORIGIN_1=http://localhost:4200
CORS_ORIGIN_2=https://portfolio-eb.vercel.app
